html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrapper {
	width:100%;
	overflow: hidden;
  }

main{
	background-color: #FFFDF7;
    background-image:
   repeating-linear-gradient(45deg,
   rgba(59,207,186,0.7), rgba(59,207,186,0.7) 60px,
   transparent 0, transparent 120px),
      repeating-linear-gradient(-45deg,
	  rgba(252,10,79,0.7), rgba(252,10,79,0.7) 60px,
   transparent 0, transparent 120px);
}

main .shoplogo img{
	margin: 10px 0;
}

main ul li img{
	padding: 0 10px;
	background-color: white;
}

@media (max-aspect-ratio:1/1){
	main ul li img{
		height:60px;
	}
}

main ul li a:hover img{
	background-color: #aaaaaa;
}


body{
font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
margin: 0;
padding: 0;
text-align: center

}


header img{
	margin: 10px auto;
	width:500px;
	border: 5px solid rgb(252,10,79);
	}
.routerfm{
	display:flex;
	text-align:center;
	justify-content: center;
	overflow:hidden;
	margin-left:0vw;
	width:100vw;

}
	iframe{
		width: 480px;
		height:160px;
		border:0;
		padding: 10px;
	}

h1 {
font-size:40px;
padding: 10px;
background-color: rgba(255,255,255,0.7);
}

h2{
	color:rgb(0, 0, 0);
font-size: 24px;
padding: 5px;
margin: 5px;
margin-bottom:10px;
}



footer{
	font-size:18px;
	color:rgb(252,10,79);
	padding: 10px 0;
	background: #f0dce2; 
	}

footer li{
display: inline;
padding: 0 5px;
}

footer	a{
		text-decoration: none;
		color:#36a386;
	}